body{
  background-color: #a2d2ff;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

table {
  border: 3px solid black;
}

th, td, tr {
  margin: 0;
  padding: 3px;
  outline: 1px solid black;
}

.header{
  font-family: Verdana;
  border: 2px solid black;
  margin: 0;
  border-bottom: none;
  padding-left: 10px;
  background-color: #339cff;
}

#editor, #preview{
  height: auto;
  border: 2px solid black;
  margin-bottom: 30px;
  padding: 10px;
  background-color: #80c1ff;
}

#editor{
  margin-bottom: 10px;
}


#preview {
  font-family: Verdana;
  width: 650px;
}

#editor::selection{
  color: #339cff;
  background: black;
}